*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #014674;
    --text-color: #000;
    --other-color: #212121;
    --second-color: #9e9e9e;
    --bg-color: #000;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{

    max-height: 100vh;
  background-image: url(/images/noclouds.jpg), url(/images/Adsızbab.png);
  background-position:  left top, right bottom;
  background-repeat: no-repeat, no-repeat;
    color: var(--text-color);
   position: relative;
    box-sizing: border-box;
}



/*---------------background----------------*/


section{
    position: relative ;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}


section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
    z-index: auto;
}

section img#sea{
    z-index: 9;
}
section img#clouds{
 height: 50vw;
    z-index: 10;
}
section img#clouds2{
 height: 50vw;
    z-index: 11;
}

#text {
    position: absolute;
    right: -350px;
    height: 200px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
    transform: translate(100px);
}

.button {
    text-decoration: none;
    display: inline-block;
    padding:  8px 30px;
    border-radius: 40px ;
    border: 2px solid;
    border-color:#073158 ;
    border-radius: 25px;
   /* background: #42709e;*/
    color: #05111d9b;
    font-size: 1.5em;
    z-index: 11;
    transform: translateX(40px);
    transform: translateY(30px);
    box-shadow: #032648 0px 1px 20px;

}

.button:hover{
    background: #42709e91;
    color: #ffffffa4;
    border-color: #061e37 ;
    box-shadow: #4d9fbd 0px 1px 50px;
}



.sec{
    position: relative;
    padding: 100px;
    height: 700px;
    background-image: url(/images/arkaplan.jpg);
    background-repeat: no-repeat;
    background: linear-gradient(to top #42709e, transparent);

}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    transform: top;
    color: #77e7e9;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

.sec img{
    position: relative;
    width: 450px;
    transform: translateX(60vw);
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
   
}
/*--------------------------------------------*/



header{
    position: fixed;
    width: 100%;
    height: 0.2rem;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
    border-radius: 50px;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700;
}

.logo img {     
    display: flex;       /*todo: ilk ikisi logonun navbar içine gömülmesini bu sayede sayfa boyutun değişirken boyutunun sabit kalmasını sağlıyor.*/
    align-items: center;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    
}

.navlist {
    display: flex;
}

.navlist a{
    color: #42709e;
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}

.navlist a:hover{
    border: 2px solid #82b8ee;
    border-radius: 25px;
    padding: 5px 12px;
    transition: all .3s ease;
    color: #fff;
}

.navlist a.active{
    color: #42709e;
    border: 2px solid #82b8ee;
    border-radius: 25px;
    padding: 5px 12px;
  

}

.navlist a.active:hover{
    transition: all .3s ease; 
    color: #ffffff;
    border-color: #01426e;
    
}

.btn{
    margin-left:auto ;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 10%;
    vertical-align: 0.2rem;
    padding: 8px 15px;
    font-size: var(--p-font);
    color: #fff;
    background-color: #42709e;
    border-radius: 3rem;
    box-shadow: #05111d 0px 1px 5px;
}

.btn :hover{
    background: #521881;
    border: 2px solid #42709e;
    border-radius: 25px;
    padding: 5px 12px;
    transition: all 0.3s ease;
}

.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: #42709e;
    border-radius: 3rem;

}

.nav-icons i{
    color: #fff;
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;

}

#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
}

.nav-icons i:hover{ 
    transform: scale(1.1);
    color:var(--text-color);
}

div.home{
    padding: 70px 14% 60px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50%;
}



.home-text h1{
    font-size: var(--big-font);
    font-family: "Cascadia Code";
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;;
    z-index: 12;
    transform: translateY(70px);
}

.sec img#hobies {
    width: 90px;
    height: auto;
    transform: translateX(70px) translateY(-50%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}
.sec img#events {
    width: 100px;
    height: auto;
    transform: translateX(70px) translateY(-40%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}
.sec img#who {
    width: 150px;
    height: auto;
    transform: translateX(50px) translateY(-30%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}
