*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #014674;
    --text-color: #000;
    --other-color: #142a48;
    --second-color: #9e9e9e;
    --bg-color: #000;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{

    max-height: 100vh;
  background-image: url(/images/noclouds.jpg), url(/images/Adsızbab.png);
  background-position:  left top, right bottom;
  background-repeat: no-repeat, no-repeat;
    color: var(--text-color);
   position: relative;
    box-sizing: border-box;
}



/*---------------background----------------*/


section{
    position: relative ;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}


section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
    z-index: auto;
}

section img#sea{
    z-index: 9;
}
section img#clouds{
 height: 50vw;
    z-index: 10;
}
section img#clouds2{
 height: 50vw;
    z-index: 11;
}

#text {
    position: absolute;
    right: -350px;
    height: 200px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
    transform: translate(100px);
}

.button {
    text-decoration: none;
    display: inline-block;
    padding:  8px 30px;
    border-radius: 40px ;
    border: 2px solid;
    border-color:#073158 ;
    border-radius: 25px;
   /* background: #42709e;*/
    color: #05111d9b;
    font-size: 1.5em;
    z-index: 11;
    transform: translateX(40px);
    transform: translateY(30px);
    box-shadow: #032648 0px 1px 20px;

}

.button:hover{
    background: #42709e91;
    color: #ffffffa4;
    border-color: #061e37 ;
    box-shadow: #4d9fbd 0px 1px 50px;
}



.sec{
    position: relative;
    padding: 100px;
    height: 700px;
    background-image: url(/images/arkaplan.jpg);
    background-repeat: no-repeat;
    background: linear-gradient(to top #42709e, transparent);

}


/*--------------------------------------------*/



header{
    position: fixed;
    width: 100%;
    height: 0.2rem;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
    border-radius: 50px;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700;
}

.logo img {     
    display: flex;       /*todo: ilk ikisi logonun navbar içine gömülmesini bu sayede sayfa boyutun değişirken boyutunun sabit kalmasını sağlıyor.*/
    align-items: center;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    
}

.navlist {
    display: flex;
}

.navlist a{
    color: #42709e;
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}

.navlist a:hover{
    border: 2px solid #82b8ee;
    border-radius: 25px;
    padding: 5px 12px;
    transition: all .3s ease;
    color: #fff;
}

.navlist a.active{
    color: #42709e;
    border: 2px solid #82b8ee;
    border-radius: 25px;
    padding: 5px 12px;
  

}

.navlist a.active:hover{
    transition: all .3s ease; 
    color: #ffffff;
    border-color: #01426e;
    
}

.btn{
    margin-left:auto ;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 10%;
    vertical-align: 0.2rem;
    padding: 8px 15px;
    font-size: var(--p-font);
    color: #fff;
    background-color: #42709e;
    border-radius: 3rem;
    box-shadow: #05111d 0px 1px 5px;
}

.btn :hover{
    background: #521881;
    border: 2px solid #42709e;
    border-radius: 25px;
    padding: 5px 12px;
    transition: all 0.3s ease;
}

.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: #42709e;
    border-radius: 3rem;

}

.nav-icons i{
    color: #fff;
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;

}

#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
}

.nav-icons i:hover{ 
    transform: scale(1.1);
    color:var(--text-color);
}

div.home{
    padding: 70px 14% 60px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50%;
}



.home-text h1{
    font-size: var(--big-font);
    font-family: "Cascadia Code";
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;;
    z-index: 12;
    transform: translateY(70px);
}

.sec img#hobies {
    opacity: 0.7;
    width: 90px;
    height: auto;
    transform: translateX(70px) translateY(380%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}
.sec img#events {
    width: 100px;
    height: auto;
    transform: translateX(70px) translateY(-40%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}
.sec img#who {
    width: 150px;
    height: auto;
    transform: translateX(50px) translateY(-30%);
    top: -250px; /*yüksekliği ayarla. !değer küçüldükçe yukarı çıkıyor!*/
}

header.sticky{
    padding: 12px 14%;
    background: var(--other-color);
}

/*--------container-------*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(800px, auto));
    text-align: center;
    left: -320px;
    top: -850px;
    text-align: left;
    margin-top: -20px;
    color:#fff;
}

.container h1{
    padding: 30px 0 50px;
    display: grid;
    font-size: 50px;
    grid-template-columns: repeat(auto-fit, minimax(300px, auto));
    text-align: left;
    margin-left: 10px;
    margin-top: -95px;
    color:#a7e3f9;
}
.container h2{
    padding: 30px 0 50px;
    display: grid;
    font-size: 30px;
    grid-template-columns: repeat(auto-fit, minimax(300px, auto));
    text-align: left;
    margin-left: 10px;
    margin-top: -30px;
    color:#ffffff;
}


.container h1#kimim:hover{
    color: #42709e;
    text-shadow: #032648 1px 1px 10px;
}


.sec img{ /*picrew*/
    position: relative;
    width: 180px;
    left: 280px;
    top: -35px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    z-index: 12;
   
}

.container#etkinlik {
    padding: 30px 14% 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, auto));
    text-align: center;
    left: 25%; /* İstenilen yere göre ayarlayabilirsiniz */
    margin-top: -1300px; /* İstenilen yere göre ayarlayabilirsiniz */
}


.container-box{
    padding: 20px 20px;
    background-image: linear-gradient(to top, transparent, var(--other-color) );
    border-radius: 3rem ;
    transform: translateX(-100px);
}



/* ------------container 2---------- */

.container2#etkinlik {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, auto));
    text-align: center;
    left: -21%;
    top: -1200px;
    text-align: left;
    margin-top: -80px;
    color:#fff;
}

.container2 p{
    margin-top: -60px;
}


.container2-box{
    padding: 32px 32px;
    background-image: linear-gradient(to bottom, transparent, #081931 );
    border-radius: 3rem ;
    transform: translateX(-100px);
}

.container2 h2{
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minimax(300px, auto));
    text-align: left;
    left: -20%;
    margin-top: -10 px;
    color:#ffffff;
}

.container2 h1{
    font-size: 40px ;
    margin-top: -10px;
    color:#84beb9;
}
.container2 h1:hover{
    color: #42709e;
    text-shadow: #032648 1px 1px 10px;
}

/* ---------footer--------- */
.footer-container{
    max-width: 1170px;
    margin: auto;
}

.row{

    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    margin-top: -1500px;
    list-style: none;
    z-index: 12;
    padding: 0 15px;
}

.footer img{
    position: relative;
    top: -1365px;
    z-index: 11;
}
.col{
    width: 25%;
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    color: #000;
}

.col h4{
    left: 220px;
    color: #fff;
    margin-top: -1600px;
    z-index: 13;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.col h4:hover{
    text-shadow: #000000 3px -2px 5px;
}

.col h4::before{
    content: "";
    position: absolute;
    left:0 ;
    top: 20px;
    bottom: -10px;
    background-color: rgb(140, 179, 199);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    z-index: 13;
}

.col ul li:not(:last-child){
    margin-bottom: 10px;
}

.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}


.col ul li a:hover{
    color: white;
    padding-left: 8px ;

}

.col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 400px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}



/*------------------slider------------------
.card-image{

    position: relative;
    height: 150px;
    width: 150px;
}

.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}


.image-content .card-img{

height: 100%;
width: 100%;
object-fit: cover;
left: -20%;

}

.card{

    border-radius: 25px;
    background-color: #54e61d;
}

.button2{
    margin-top: -500px;
    z-index: 10;
} */